body{
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
 
}
/*The nav bar image*/
.navbar-brand{
margin: 0;
display: block;

}

.navbar{
  display: block;
  margin-left: -36px;
}

/*The nav bar image*/
.logo{
  width: 500px;
  display: block;
  
}
/*The nav bar page names*/
.nav-item a{
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  font-size: 60px;
  font-weight: 500;
  

}

.nav-item{
  margin-top: -20px;
}

.nav-link{
  padding: 0;
}

.navbar-nav{
  display: block;
  margin: 0;
}

/*The articles with the pictures and the writing all together*/
.card{
width: 100vw;
border: none;
margin-top: 0 px;
z-index: -1;
position: absolute;
top: 0px;



} 





/*Article Headline*/
.headline{
  margin-top: -140px;
  padding-left: 10px;
  font-size: 105px;
  z-index: 1;
  
}

.card-text{
  font-size: 30px;
  
}


.article-img{
  position: relative;
  left: 0;
  top: 0;
}


 .card-img-top{
  margin-top: 0px;
 
} 

.advert{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  bottom: 0px;
  min-height: calc(100vh - 103px);
  

}

.footer--pin{
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 300px;
}



.advertise{
  font-size: 90px;
  padding-left: 10px;
  margin-bottom: -5px;
}

.rent{
  display: block;
}

.advert-text-right{
  text-align: right;
  padding-right: 20px;
}

.advert-text-right, .advert-text-left{
font-weight: 700;
font-size: 30px;
line-height: 20px;
}

.advert-text-left{
  padding-left: 10px;
}

.collab-form {
  margin-left: 50px;
  margin-right: 50px;
}




